// THESE ARE JUST SOME SHARED DEFAULTS USED THROUGOUT ARMSTRONG. IT'S ADVISED NOT TO BE EDITING THESE, AS THE RESULTS COULD BE UNPREDICTABLE.
$theme-color: #6C6C70;
$positive-color: #45D564;
$negative-color: #EA4E4E;