<div class="width-wrapper">
  <div class="grid">
    <div class="row">
      <div class="col">
        <label>Armstrong</label>
        <a href="mailto:armstrong@rocketmakers.com">armstrong@rocketmakers.com</a>
      </div>
      <div class="col">
        <a href="mailto:armstrong@rocketmakers.com"><i class="fa fa-github"></i>rocketmakers</a>
        <a href="mailto:armstrong@rocketmakers.com"><i class="fa fa-twitter"></i>armstrongcss</a>
      </div>
      <div class="col align-right">
        <label>Armstrong is a CSS library</label>
        <label>Built at the Rocketmakers launch facility</label>
      </div>
    </div>
  </div>
</div>
