<div class="grid">
  <div class="row">
    <div class="col center-vertical">
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="/assets/logosmall.svg" />
      </a>
    </div>
    <div class="col center-vertical align-right">
      <nav class="site-nav">
        <div class="trigger">
          {% for page in site.pages %} {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> {% endif %} {% endfor %}
        </div>
      </nav>
    </div>
  </div>
</div>
