/** Theme Variables **/

$branding-primary-color: #4B5E51;
$branding-secondary-color: #FFD300;
$branding-tertiary-color: #CCCCCC;

$base-heading-color: #555;
$base-body-color: #777;

$base-font-family: 'Raleway', sans-serif;
$base-font-size: 16px;
$base-font-weight: 200; 
$base-line-height: 1.5;



/** **/

body{
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	color: $base-body-color;
}

code
{
    font-family: monospace;    
}

h1,h2,h3,h4,h5,h6{
    color: $base-heading-color;
    font-weight: $base-font-weight + 200;
}

footer.site-footer{
    border: none;
}

footer.site-footer div.footer-col-wrapper > div:last-child
{
    text-align: right;
}

footer.site-footer .footer-col-wrapper{
    color: white;
}

footer.site-footer .footer-col-wrapper a{
    color: $branding-secondary-color;
}

 footer.site-footer .footer-col-wrapper a svg path{
     fill: white;
 }

.site-header{
    border: none;
    background-color: $branding-primary-color;
    color: white;
}

.site-header .page-link, .site-header .site-title{
    color: white;
}

.site-header .site-title .logo{
    height: 40px;
    position: relative;
    top: -2px;
}

.page-content{
    background-color: #f9fff9;
}

.home-page-content{
    background-color: $branding-secondary-color;
    color: white;
}

.home-page-content .hero{
    padding: 130px 30px;
    text-align: center;
}

.home-page-content .hero h1{
    font-size: 23px;
    line-height: 1.2em;
    font-weight: 300;
    color: rgba(255,255,255,0.75);
}

.home-page-content .hero h1 a{
    font-weight: 400;
    color: white;
}

.home-page-content .hero .logo{
    height: 300px;
    margin-bottom: 8px;
}

a, a:visited, a:hover, a:active{
    color: #2E90CC;
}

ul.pluginlist{
    list-style: none;
    margin: 8px 0;
}

ul.pluginlist li{
    border-radius: 6px;
    background-color: rgba(255,255,255,0.3);
    margin: 8px 0;
    padding: 6px;
    border: 1px solid rgba(0,0,0,0.05);
}

@include media-query($on-palm) {
    .site-header .page-link{
        color: white;
    }
    .site-nav .menu-icon > svg path{
        fill: $branding-secondary-color;
    }
    
    .home-page-content .hero{
        padding: 55px 20px;
    }
    
    .home-page-content .hero .logo{
        height: 180px;
        margin-bottom: 18px;
    }
    
    footer.site-footer div.footer-col-wrapper > div:last-child
    {
        text-align: left;
    }
}



